// Place all the styles related to the Posts controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.test {
  background-color: red;
}
#header-content {
  text-align: right;
}

.icon   {
  background-color: blue;
}
#svg-container{
  width: 100%;
  height: 36px;
}
.svg-block{
  width: 100%;
  height: 100%;
  fill: violet;
}

.post{
  background-color: yellow;
  margin-bottom: 0;
}
