.registration_block {
  margin-top:50px;
  border-color: black;
  border-width: thin;
  border-style: solid;;
  border-radius: 5px;
  width: 50%;
  padding: 20px;
  margin-left:auto;
  margin-right:auto;
}
.inline {
  display: inline;
}
header {
  border-bottom: 1px solid #e5e5e5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(229, 229, 229);
  background-color: #202020;
  padding-top: 0px;
  padding-bottom: 0px;
}

.header-nav-link {
    padding: 4px 8px;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: red;
    transition: color 1s;
}

.header-nav-link:hover{
  color: purple;
  text-decoration: none;
}
.pull-right {
  float: right !important;
}
.mb-0 {
  margin-bottom: 0px;
  margin-top: 0px;
}
.site-footer {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
}
body {
  background-color: white;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
  margin-top: 0px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:hover {
    color: #fff;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    line-height: 1.5;
    color: #767676;
    border-top: 1px solid #eee;
  }
}
.mt-10 {
  margin-top: 10px;
}

main {
  background-color: black;
}

footer {
  color: red;
  background-color: #202020;
}
.no-padding{
  padding: 0;
}
.bg-white{
  background-color: white;
}
