header {
  background-color: #005858;
  padding-top: 0px;
  padding-bottom: 0px;
}

body {
  background-image: url(math_background.png);
  color: #565695;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
  margin-top: 0px;
  margin-bottom: 0px;
}

main {
  background-color: #E7FEFF;
}

footer {
  color: #FFFFFF;
  background-color: #005858;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: red;
  transition: color 1s;
  &:hover {
    color: #565695;
    text-decoration: none;
    }
  &:active {
    color: #565695;
    text-decoration: none;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

svg {
  height: 100%;
  width: 100%;
}

text {
  font-family: Verdana;
  font-size: 5rem;
}

.header-image{
  float: left;
  height: 114%;
}

.head {
  //background: url(background.jpg);
  background-color: #008D94;
  clear: both;
  height: 300px;
  h1 {
  margin: 0;
  padding: 10px;
  text-align: center;
  position: relative;
  top: 35%;
  a {
    color: white;
    &:hover{
      color: #CBFDFF;
      text-decoration: none;
    }
    &:active{
      color: #CBFDFF;
      text-decoration: none;
    }
  }
  }
}

.bg-transparent {
  background-image: url(math_layout.png);
  height: 100px;
}

.black {
  fill: black;
}

.registration_block {
  margin-top:50px;
  border-color: black;
  border-width: thin;
  border-style: solid;;
  border-radius: 5px;
  width: 50%;
  padding: 20px;
  margin-left:auto;
  margin-right:auto;
}

.inline {
  display: inline;
}

.header-nav-link {
    padding: 4px 8px;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: #FFFFFF;
    transition: color 1s;
}

.header-nav-link:hover{
  color: #008D94;
  text-decoration: none;
}

.pull-right {
  float: right !important;
}

.mb-0 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.site-footer {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.mt-10 {
  margin-top: 10px;
}

.no-padding{
  padding: 0;
}

.bg-white{
  background-color: white;
}

.icon {
  border: 0;
  background-color: transparent;
  transition: all 0.5s;
  text-decoration: none;
  vertical-align: middle;
  line-height: 6px;
}
.icon:hover {
  transform: scale(1.5, 1.5);
  background-color: transparent;
}
.icon:focus:hover {
  background-color: transparent;
}
.icon:active {
  background-color: transparent;
}
.icon:active:focus {
  background-color: transparent;
  box-shadow: none;
}

.icon:active:hover {
  background-color: transparent;
}

.icon:focus {
  background-color: transparent;
}

.alert {
  clear: both;
  margin: 10px;
}

.svg-block {
  width: 100%;
  height: 100%;
}

.margin-bottom {
  margin-bottom: 20px;
}

.btn-my {
  background-color: #008D94;
  border-color: #008D94;
  color: white;
  &:hover{
    color: white;
    background-color: #00484B;
    border-color: #008D94;
  }
}

#notice {
  color: green;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    line-height: 1.5;
    color: #767676;
    border-top: 1px solid #eee;
  }
}

#header-content {
  text-align: right;
}
