.row
  - if policy(@categories).create?
    .col-xs-12.col-sm-6.col-md-4.col-lg-4
      = link_to new_category_path do
        .div-round-plus
          .plus.no-border
  - @categories.each do |category|
    .col-xs-12.col-sm-6.col-md-4.col-lg-4
      .div-round
        = link_to category do
          = image_tag(category.image, size: 175, class: 'center-block')
        .text-center
          = link_to truncate(category.title, length: 25, class: 'text-center'), category
          - if policy(category).edit?
            %br
            =link_to edit_category_path(category), class: 'btn btn-default icon' do
              %span.glyphicon.glyphicon-pencil(aria-hidden= 'true')
          - if policy(category).destroy?
            =link_to category, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-default icon' do
              %span.glyphicon.glyphicon-trash(aria-hidden= 'true')
